div(
data-ng-class="{ 'selected': vm.mark_selected }"
data-ng-click="vm.select(menuData, $event)"
)

    md-card.editor.menu-object-item.menu-item.hide-error-msg(
    md-theme="menucloud-std"
    layout="column"
    data-as-sortable-item-handle=''
    )

        md-card-header(
        layout="row"
        layout-align="start center"
        data-ng-show="vm.mark_selected"
        )
            i.the-drag-handle.material-icons(layout="row" flex="100" flex-offset="5" layout-align="start center") drag_handle
            md-button.md-icon-button.the-x-button(data-ng-click="vm.delete_item(menuData)")
                md-icon.material-icons close

        md-card-content(layout="column" flex="100")
            div(layout="row" flex="100")
                div(layout="row" flex="55" layout-align="end start")
                    div.item-content(layout="column" flex="100")
                        div(layout="row" flex="100")
                            md-input-container.header4(flex="100" md-no-float)
                                //textarea(data-no-drag ng-model="menuData.name" placeholder="ITEM")
                                textarea(
                                data-no-drag
                                type="text"
                                ng-model="menuData.title"
                                placeholder="Item Name"
                                typeahead-on-select="vm.on_select($item, menuData, $model, $event)"
                                typeahead-popup-template-url="/app/views/menu/editor/item.typeahead.html"
                                uib-typeahead="item.title for item in vm.query_search($viewValue)"
                                class="menu-editor-typeahead"
                                data-ng-focus="vm.on_focus_title(menuData)"
                                data-ng-blur="vm.hide_dropdown(menuData)"
                                ng-disabled="vm.disable_name_input"
                                )
                                md-button(ng-show="vm.update_enable" ng-click="menuData.title = '' " class="close-btn")
                                    md-icon(md-svg-src="app/img/icons/ic_close_24px.svg")


                        div(layout="row" flex="100")
                            md-input-container.paragraph1(flex="100" md-no-float)
                                textarea(
                                data-no-drag
                                ng-model="menuData.description"
                                placeholder="Item Description"
                                data-ng-focus="vm.on_focus_description(menuData)"
                                data-ng-blur="vm.on_blur_description(menuData)"
                                )

                div(flex)

                div(layout="column" flex="40" layout-align="end end")
                    prices(menu-data="menuData")

            div(layout="column" flex="100")
                menu-options-rendered(
                menu-data="menuData"
                data-ng-show="!vm.show_more"
                )
                menu-options(
                menu-data="menuData"
                data-ng-show="vm.show_more"
                )

        md-card-actions(
        layout="row"
        layout-align="end center"
        flex="100"
        data-ng-show="vm.mark_selected"
        )
            md-button(
                data-ng-click="vm.active_update()"
                ng-hide="vm.update_enable"
                )
                md-icon.material-icons create_black
            md-button(
                class="md-primary md-raised"
                data-ng-click="vm.updateItem(menuData)"
                ng-show="vm.update_enable"
                )
                span Update
            md-button(data-ng-click="vm.hard_delete(menuData)")
                md-icon.material-icons delete
            md-button(data-ng-click="vm.show_more=!vm.show_more")
                md-icon.material-icons(data-ng-show="!vm.show_more") expand_more
                md-icon.material-icons(data-ng-show="vm.show_more") expand_less
