form.auth-form.has-subtitle.form-validate(
ng-controller="AuthRecoverCtrl as vm",
role='form',
name="vm.recoverForm",
novalidate='',
ng-submit="vm.resetPassword()"
ng-autodisable
)
  .form-item.form-item-margin
    input(type='email', name='email', placeholder='Email', autocomplete="off", ng-model="vm.email", required='',
    ng-class="{'input-danger': vm.recoverForm.email.$dirty && (vm.recoverForm.email.$error.required || vm.recoverForm.email.$error.email)}")
    span.text-danger(ng-show="vm.recoverForm.email.$dirty && vm.recoverForm.email.$error.required") * This field is required
    span.text-danger(ng-show="vm.recoverForm.email.$dirty && vm.recoverForm.email.$error.email") * This field must be a valid email address
  .form-item.form-item-margin-2x
    button.btn.button(type='submit' ng-disabled="processing" md-ink-ripple) SIGN IN
  .form-item.form-item-margin-2x.alert.alert-danger.text-center(ng-show='vm.errMsg') {{vm.errMsg}}
  .form-item.form-item-margin-2x.alert.alert-success.text-center(ng-show='vm.okMsg') {{vm.okMsg}}