
md-dialog(
flex="35"
flex-xs="100"
ng-disabled="disabled"
md-theme="menucloud-std"
)

    form(ng-cloak='' name="dialog.dialogForm" ng-disabled="disabled")

        md-toolbar.dialog(layout="row")
            .md-toolbar-tools
                span(flex='10' flex-xs="20")
                h2.md-headline(flex='80') Add Collaborator
                span(flex='')
                md-button.md-icon-button(ng-click='dialog.cancel()' flex='10' flex-xs="20")
                    md-icon(md-font-set="md" aria-label="Close") close

        md-dialog-content
            .md-dialog-content.dialog.layout-margin(layout="column" layout-align="center")
                div(flex="75")
                    form
                        md-input-container.md-block
                            label.md-title Email
                            input(
                            type="text"
                            ng-model="dialog.user.email"
                            required
                            md-autofocus=''
                            )
                        md-input-container.md-block
                            label.md-title First Name
                            input(
                            type="text"
                            ng-model="dialog.user.first_name"
                            required
                            )
                        md-input-container.md-block
                            label.md-title Last Name
                            input(
                            type="text"
                            ng-model="dialog.user.last_name"
                            required
                            )

        md-dialog-actions.dialog(layout="row" layout-align="center center")
            div.md-dialog-actions
                span(flex=40)
                span(flex='')
                md-button.btn1.md-raised.md-primary(flex='40' ng-click="dialog.answer()" ng-disabled="processing")
                    | Add
                span(flex=40)

