div(style="margin: -8px;")
  md-card(md-theme="menucloud-std")
    md-card-title
      md-card-title-text(flex="90" flex-xs="80")      
        legend.col-sm-12(style='margin-bottom: 10px;') Comment

    div(style="width: 75%; margin: auto; padding: 30px 0;")
      booking-comment-item(
          data-ng-repeat="item in vm.comments"
          data-comment="item"
      )

      md-input-container.md-block
        textarea(
        rows="3"
        placeholder="PALCE YOUR COMMENT HERE"
        ng-model="vm.selected_comment"
        )

      div(align="center")
        md-button.md-raised.md-primary(
        ng-click="vm.add_comment()"
        ) ADD COMMENT